.left-with {
    width: 100%;
    background-color: black;
}

/*.box-item{*/
/*background-color: #009A61;*/
/*color: #fff;*/
/*border-radius:4px;*/
/*}*/

.new_info {
    font-size: 0.7em;
    color: #666;
}

.hand {
    cursor: pointer;
}

.left-action {
    background-color: #009A61;
    color: #fff;
    border-radius: 4px;


}

.content{
    color: rgba(0,0,0,0.45);
    font-size: 0.9em;
}
.left-style{
    color: rgba(0,0,0,0.50);
}